$fondoPagina: #e9ecef;
$fondoDiv: #a9d6e5;

@mixin marginTop ($size) {
    margin-top: $size;
}

@mixin marginBottom ($size) {
    margin-bottom: $size;
}

@mixin fontSize ($size) {
    font-size: $size;
}

body{
    background: $fondoPagina;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Titulo principal*/
#title-Main{
    @include marginTop(-20px);
    @include fontSize(50px);
    @include marginBottom(20px)
}

/*Div principal*/
#div-Main {
    width: 1100px;
    height: auto;
    margin: 0px auto;
    @include marginTop(15px);

    .grid-item{
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }

    #btn-Random{
        @include marginTop(20px);
    }

    img{
        box-shadow: 5px 5px 5px black;
    }

}